    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="{% url 'index' %}}" class="logo m-0 float-start">Consignee Ease</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="{% url 'index' %}">Home</a></li>
              <li class="has-children">
                <a href="properties.html">Consignment</a>
                <ul class="dropdown">
                  <li><a href="{% url 'branchConsignment' %}">Add Consignment</a></li>
                  <li><a href="{% url 'branchviewConsignment' %}">View Consignment</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="properties.html">Staff</a>
                <ul class="dropdown">
                  <li><a href="{% url 'staff' %}">Add Staff</a></li>
                  <li><a href="{% url 'view_staff' %}">View Staff</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="properties.html">TripSheet</a>
                <ul class="dropdown">
                  <li><a href="{% url 'addTripSheet' %}">Add TripSheet</a></li>
                  <li><a href="{% url 'tripSheet' %}">Trip Sheet</a></li>
                  <li><a href="{% url 'viewTripSheetList' %}">View Trip Sheet</a></li>
                </ul>
              </li>

              <li class="has-children">
                <a href="properties.html">Expenses</a>
                <ul class="dropdown">
                  <li><a href="{% url 'branchExpenses' %}">Add Expenses</a></li>
                  <li><a href="{% url 'tripSheet' %}">Trip Sheet</a></li>
                  <li><a href="{% url 'viewTripSheetList' %}">View Trip Sheet</a></li>
                </ul>
              </li>

              <li class="has-children">
                <a href="properties.html">Paymeny History</a>
                <ul class="dropdown">
                  <li><a href="{% url 'branchPaymenyHistory' %}">Paymeny History</a></li>
                  <li><a href="{% url 'branchcredit' %}">Add Credit</a></li>
                </ul>
              </li>



              <li><a href="{% url 'index' %}">Logout</a></li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>